*{
    padding: 0;
    margin :0;
    box-sizing: border-box;


}
body{
    
}
.navbar-brand{
    font-size: 2rem;
    color :black;
    font-family: "Pacifico", cursive;
    margin-right: 20px;

    

}

.navbar-brand:hover{
    color:black;
}

.nav-link{
    margin-left: 15px;
    margin-right:15px;
    color:black;
    text-transform: uppercase;
    font-family:'Rubik' ,sans-serif;

}

.search{
    height: 40px;
    width : 80%;
    outline: none;
    border: 2px solid rgb(248, 26, 92);
    border-radius: 60px;
    margin-right: -35px;

}

.btn0{
    height:40px;
    width: 40%;
    outline:none;
    border: none;
    background-color: rgb(248,26,92);
    color : white;
    font-weight: 700;
    border-radius: 60px;


}

.main{
    background : url("./images/food_background_2.jpg")no-repeat;
    background-size: cover;
    height: 100vh;
    background-position:50% 50% ;
    width: 100%;
}

.main h1{
    font-size : 4 rem;
    font-weight: 700;


}

.btn1{
    height:45px;
    width: 35%;
    border: none;
    outline : none;
    background-color: rgb(248, 26, 92);
    color : white;
    font-weight: 700;
    border-radius : 60px;



}
.box-hero{
    width: 55%;
    position:absolute;
    bottom:5%;
    left:5%;

}

.h1{
    font-weight: 700;
}

.imgg{
    aspect-ratio: 5/6;
}

.t-img{
    aspect-ratio:5/7;
}

.btn1:hovor{
    background-color: rgb(231, 15, 15)(248, 26, 92);
    transition: 0.5s;
}

.card:hover{
    box-shadow: -3px -2px 28px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px -2px 28px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -3px -2px 28px -8px rgba(0,0,0,0.75);

transition: 0.5s;
}

.news{
    background-color: black;
    color:white
}
.btn2{
    height:45px;
    width: 100px;
    background-color: white;
    margin-left:-10px;
    font-weight: 600;
    border: 2px solid white;

}
.news input{
    height: 45px;
    width: 55%;
    outline : none;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
    font-width: 600;
    background: black;

}

.news::placeholder{
    color:white;

}

.news p{
    margin :0;

}

.fab{
    font-size:2.5 rem;
    cursor: pointer;
    padding-right: 5px;


}
